N8N/local-files/EmployeeWorkFlow.json
{
  "name": "EmployeeWorkFlow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "InitProcess",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        -80
      ],
      "id": "fba251c6-73af-4b0a-925c-e82677e71de5",
      "name": "On Create New Employee Process",
      "webhookId": "7f9761a6-cd5e-4117-b3f6-ab2b94288e2e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/CreateEmployee",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "basicInfo",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        -80
      ],
      "id": "62da0995-fa14-436f-aafa-20dbfb0b2298",
      "name": "Submit basic info data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/CreateEmployeeRecord",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        -80
      ],
      "id": "1177d22f-437e-4ff1-bba0-9ae19ca0addc",
      "name": "Submit contract form data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2220,
        -80
      ],
      "id": "f527fc59-ce36-42ad-9ae8-c1af57ef80e6",
      "name": "Respond to Webhook17"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/get-template",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $('On Create New Employee Process').item.json.body.templateId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        -80
      ],
      "id": "93f4b878-0ea8-4111-8464-e689131836ee",
      "name": "Get Flow Template"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.data.data.formData.contractInfo"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -80
      ],
      "id": "02358547-08d7-44c7-8607-1e47477edc0f",
      "name": "Filter Contract info"
    },
    {
      "parameters": {
        "jsCode": "let graph = $input.first().json;\nconst timestamp = Date.now();\n\ngraph.graphId = `${graph.graphId}-${timestamp}`;\ngraph.history.push({\n  n8nLoader: $('On Create New Employee Process').first().json.body.content.id\n})\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        -80
      ],
      "id": "8559eb7d-894f-4eb5-ad38-0d369121e491",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/SaveFlowGarph",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        -80
      ],
      "id": "95c24745-639c-46d4-8997-c94a34b21f9e",
      "name": "Save Graph to DB"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/savesubmit",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        -80
      ],
      "id": "9ecb9297-0dee-4b88-bc98-2e8e0d9b0aa8",
      "name": "Submit form"
    },
    {
      "parameters": {
        "jsCode": "\nreturn $('On Create New Employee Process').first().json.body.content.data.formData.basicInfo"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        -80
      ],
      "id": "3bb42060-814d-495b-ba4b-fd1825db743e",
      "name": "Filter basic info"
    },
    {
      "parameters": {
        "jsCode": "let formdata = $('On Create New Employee Process').first().json.body.content\nlet result = {\n  parentId : $('On Create New Employee Process').first().json.body.content.parentId,\n  data: formdata\n}\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -80
      ],
      "id": "e3e1933e-6afb-4e7f-ad14-6c63745f1137",
      "name": "filter form data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1820,
        -300
      ],
      "id": "bf1f06ec-1a1a-4993-94ee-ea7ca5b9e5ec",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=get-graph-edit-with-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        -320
      ],
      "id": "8c49dd65-43bd-4fea-8d10-5fd5ada88f2a",
      "name": "get-graph-edit-with-data",
      "webhookId": "47b6cee5-c81a-46b9-ae97-4bc6cbb8efef"
    },
    {
      "parameters": {
        "collection": "GraphData",
        "options": {},
        "query": "={\n  \"graphId\":\"{{ $json.body.loader }}\",\n  \"target\": \"{{ $json.body.data.employeeCode }}\"\n} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        80,
        -320
      ],
      "id": "7170230d-09c6-4a6e-86e1-b456fdbd8699",
      "name": "Query graphData",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07bb54a5-a949-4e4b-8be4-6e1345e08acb",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        -320
      ],
      "id": "05f758c4-be75-4488-af6c-254575e34a91",
      "name": "No record"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/get-template",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $('get-graph-edit-with-data').first().json.body.loader }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -680
      ],
      "id": "766fb8c8-31ff-4efb-b011-181a8e03f424",
      "name": "Clone graph template"
    },
    {
      "parameters": {
        "jsCode": "let sender = $('get-graph-edit-with-data').first().json.headers[\"x-user-id\"];\nlet graphData = {\n  \"graphId\": $input.first().json.graphId,\n  \"domain\": $input.first().json.domain,\n  \"status\": $input.first().json.status,\n  \"target\": $('get-graph-edit-with-data').first().json.body.data.employeeCode,\n  \"author\": sender,\n  \"currentEvent\": \"\",\n  \"history\": [],\n  \"definition\": $input.first().json.definition,\n  \"createAt:\": new Date()\n}\n\nreturn graphData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -680
      ],
      "id": "d0a6582a-7ef2-43e4-ae60-ce2810d11b16",
      "name": "set graphData"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "GraphData",
        "fields": "=graphId, domain, status,author,target, currentEvent, history, definition ",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1260,
        -680
      ],
      "id": "744e285b-2244-4bdc-a17f-de949c6a56eb",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let sender = $('get-graph-edit-with-data').first().json.headers[\"x-user-id\"];\nlet graphData = {\n  \"graphId\": $('Query graphData').first().json.graphId,\n  \"domain\": $('Query graphData').first().json.domain,\n  \"status\": $('Query graphData').first().json.status,\n  \"target\": $('Query graphData').first().json.target,\n  \"author\": sender,\n  \"currentEvent\": $('Query graphData').first().json.currentEvent,\n  \"history\": $('Query graphData').first().json.history,\n  \"definition\": $('Query graphData').first().json.definition,\n  \"createAt:\": new Date()\n}\n\nreturn graphData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        -300
      ],
      "id": "bf830c60-5a03-4589-a78e-7390e16ca48d",
      "name": "set graphData1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instance-graph",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        1460
      ],
      "id": "2d3fecb0-ed03-451e-aa16-b5db5089912a",
      "name": "instance-graph",
      "webhookId": "d5e2e183-f018-4c65-abcd-999b0e50e32f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/get-template",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $json.body.loader }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        1460
      ],
      "id": "6c6b9533-95c9-4e99-897b-c4c634f5d438",
      "name": "Clone graph template1"
    },
    {
      "parameters": {
        "jsCode": "let sender = $('instance-graph').first().json.headers['x-user-id'];\nlet graphData = {\n  \"graphId\": $input.first().json.graphId,\n  \"domain\": $input.first().json.domain,\n  \"status\": \"start\",\n  \"target\": null,\n  \"author\": sender,\n  \"currentEvent\": \"\",\n  \"history\": [],\n  \"definition\": $input.first().json.definition,\n  \"createAt\": new Date()\n}\n\nreturn graphData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        1460
      ],
      "id": "388534de-72c5-4010-8705-910be4ad5e50",
      "name": "set graphData2"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "GraphData",
        "fields": "=graphId, domain, status,author,target, currentEvent, history, definition, createAt",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        640,
        1460
      ],
      "id": "e680f860-a2cd-4933-ab4d-1164c616f252",
      "name": "MongoDB1",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        1460
      ],
      "id": "01421540-2cbb-4982-b604-b8ec394cb675",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "Employee",
        "query": "[\n  {\n    \"$match\": {}\n  }\n]"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        80,
        380
      ],
      "id": "bfefd3d5-2991-4f7a-a550-ebc0bdfa450a",
      "name": "MongoDB12",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        380
      ],
      "id": "166c1b5c-28cd-4f2b-945f-dea6d1f72b3d",
      "name": "Respond to Webhook22"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "LoadEmployeeTable",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        380
      ],
      "id": "80f19f2a-d6db-461f-9a63-5ee74b7f75bb",
      "name": "LoadEmployeeTable",
      "webhookId": "3e5f04e9-b66c-4ca6-bc86-4c68590eae9f"
    },
    {
      "parameters": {
        "collection": "GraphData",
        "options": {},
        "query": "={\n  \"author\":\"{{ $json.headers['x-user-id'] }}\"\n} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        80,
        560
      ],
      "id": "3dd1ee9a-1396-4921-a768-a7e8a5a62066",
      "name": "MongoDB13",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        560
      ],
      "id": "3aedde7b-5914-44a7-a1b2-445887020a6b",
      "name": "Respond to Webhook23"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "LoadEmployeeCreateProcess",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        560
      ],
      "id": "50097f3f-e652-4ebe-ba9c-8e3ae1315a86",
      "name": "LoadEmployeeCreateProcess",
      "webhookId": "3e5f04e9-b66c-4ca6-bc86-4c68590eae9f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "getGraphDataBy_Id",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        1800
      ],
      "id": "15fd853e-70aa-4a1a-ae1a-d32caf117ad1",
      "name": "GetGraphDataBy_Id",
      "webhookId": "fcc4549f-5f81-462e-b57d-52c64b3204e7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "HR-02-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        1180
      ],
      "id": "05e7c98a-b9ca-48bf-b113-34ec0f7e093c",
      "name": "HR-02-action",
      "webhookId": "785284fe-39d3-414f-a38c-fc719288ca48"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f22a84d0-fce9-4a27-bb36-31028814e67f",
              "leftValue": "={{ $json.body.data.data.Decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        1180
      ],
      "id": "9df4c057-d6da-4b7c-bb76-d18467c203ae",
      "name": "Is Approve"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/getGraphDataBy_Id",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $json.body.data.parentGraph }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        1160
      ],
      "id": "84b324c0-2009-41e5-abcf-03b0738bac39",
      "name": "Request GraphData4"
    },
    {
      "parameters": {
        "jsCode": "let graphData = $input.first().json;\nlet index = graphData.definition.events.findIndex((item) => item.eventId == $('HR-02-action').first().json.body.data.parentId);\ngraphData.definition.events[index].status = \"done\";\nreturn graphData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        1160
      ],
      "id": "072ac594-c28b-4fff-a165-562f20095b68",
      "name": "Code6"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "GraphData",
        "updateKey": "graphId",
        "fields": "history, definition",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        760,
        1160
      ],
      "id": "3feb61b3-c26a-4bca-bd3b-73ddb93fc4a0",
      "name": "MongoDB6",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "GetSubmitBy_Loader",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        1620
      ],
      "id": "03a50948-2ac6-4e3f-ad38-11c092cccc23",
      "name": "Get Submission By Loader",
      "webhookId": "3e5f04e9-b66c-4ca6-bc86-4c68590eae9f"
    },
    {
      "parameters": {
        "collection": "Submission",
        "options": {},
        "query": "={\n    \"data.id\": \"{{ $json.body.data }}\"\n} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        120,
        1620
      ],
      "id": "536340d2-1f57-4743-8039-bed77446fc08",
      "name": "MongoDB7",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "history",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1040,
        1160
      ],
      "id": "09a7b1d5-e65a-4b0d-92f8-7df8fa2616dc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1360,
        1160
      ],
      "id": "586ba98c-e2d9-4eb7-a220-6938d24f21ab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/GetSubmitBy_Loader",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.history }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        1420
      ],
      "id": "7757506e-98ba-4240-ad63-b7d9d9f41546",
      "name": "Get submission history"
    },
    {
      "parameters": {
        "jsCode": "let sortedByTimeStamp = $input.all().sort((a, b) => {\n      const timeA = new Date(a.json.data.timestamp).getTime();\n      const timeB = new Date(b.json.data.timestamp).getTime();\n      return timeB - timeA; // descending order\n    }) \nlet BasicInfo = sortedByTimeStamp.find((i) => i.json.parentId ==  \"HR-01A\")?.json.data.data.formData;\nlet ContractInfo = sortedByTimeStamp.find((i) => i.json.parentId ==  \"HR-01B\")?.json.data.data.formData;\nlet employeeInfo = {\n  employeeCode: BasicInfo.employeeCode,\n  fullName: BasicInfo.fullName,\n  jobTitle: ContractInfo.jobTitle,\n  department: ContractInfo.department,\n  position: ContractInfo.position\n}\nreturn employeeInfo;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1140
      ],
      "id": "fd909c6b-6460-4357-a4c9-4a6dc08d7ca5",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "GraphData",
        "updateKey": "_id",
        "fields": "history, definition",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        660,
        2480
      ],
      "id": "c6d0477b-78d3-45d9-b26b-5080102cc7d2",
      "name": "MongoDB5",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let graphData = $input.first().json;\nlet index = graphData.definition.events.findIndex((item) => item.eventId == $('HR-01D-action').first().json.body.data.parentId);\ngraphData.definition.events[index].status = \"done\";\nreturn graphData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        2480
      ],
      "id": "26125658-7baa-4b9c-8d50-7048ac927b02",
      "name": "Code5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/getGraphDataBy_Id",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $json.body.data.parentGraph }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        2480
      ],
      "id": "5e0d1b2c-8441-40ac-a997-27e2d4590d5a",
      "name": "Request GraphData3"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "GraphData",
        "updateKey": "_id",
        "fields": "history, definition",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        660,
        2320
      ],
      "id": "b919ef62-6646-42ca-99ed-ec2e31ad0355",
      "name": "MongoDB4",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let graphData = $input.first().json;\nlet index = graphData.definition.events.findIndex((item) => item.eventId == $('HR-01C-action').first().json.body.data.parentId);\ngraphData.definition.events[index].status = \"done\";\nreturn graphData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        2320
      ],
      "id": "3a72d068-7634-46d3-b34b-1e6c1c31851b",
      "name": "Code4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/getGraphDataBy_Id",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $json.body.data.parentGraph }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        2320
      ],
      "id": "72aa1ec3-aea1-4571-81f9-478f7b23c0eb",
      "name": "Request GraphData2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "HR-01D-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        2480
      ],
      "id": "46582a77-3b5a-487a-b0a5-5da178b0cfa0",
      "name": "HR-01D-action",
      "webhookId": "2b269259-e811-46c6-b8c7-ae4e22d48a08"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "HR-01C-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        2320
      ],
      "id": "4b9d0f52-2456-4c43-b1f3-16c7e66cae1a",
      "name": "HR-01C-action",
      "webhookId": "2b269259-e811-46c6-b8c7-ae4e22d48a08"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "HR-01B-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        2140
      ],
      "id": "6ad90b1f-adc2-439d-826c-21f760369664",
      "name": "HR-01B-action",
      "webhookId": "2b269259-e811-46c6-b8c7-ae4e22d48a08"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        1160
      ],
      "id": "5a257328-0c19-464d-b3e4-f20b02ef9d98",
      "name": "Filter basic info5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/CreateEmployee",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "basicInfo",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        1160
      ],
      "id": "db669fbd-c474-4fa2-a666-261794177103",
      "name": "save basic employee2"
    },
    {
      "parameters": {
        "collection": "GraphData",
        "options": {},
        "query": "={\n  \"_id\": \"{{ $json.body.graphId }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        120,
        1800
      ],
      "id": "fa8d7237-47a8-4a36-a359-24e872b113c4",
      "name": "Get Graph",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        1800
      ],
      "id": "f29f2ca6-61cd-4275-b2c2-c24f016bc1e3",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 418
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        1320
      ],
      "id": "5ffe752e-454f-4aaa-aaba-bdae80de64dd",
      "name": "Respond to Webhook11"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        1620
      ],
      "id": "87e9f5d0-4c28-4846-b23f-bee0db48476d",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2980,
        1160
      ],
      "id": "fee18d5e-dc88-413b-82dd-86d74493d629",
      "name": "Respond to Webhook13"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        2320
      ],
      "id": "4d26f557-18b6-4c80-8b25-647b3b8a464e",
      "name": "Respond to Webhook14"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        2140
      ],
      "id": "1bd1f127-cedb-4f62-bc23-dc652e8d8599",
      "name": "Respond to Webhook15"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "GraphData",
        "updateKey": "_id",
        "fields": "history, definition",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        660,
        2140
      ],
      "id": "26c6a452-8545-4901-b782-043ee4250a37",
      "name": "MongoDB8",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let graphData = $input.first().json;\nlet index = graphData.definition.events.findIndex((item) => item.eventId == $('HR-01B-action').first().json.body.data.parentId);\ngraphData.definition.events[index].status = \"done\";\nreturn graphData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        2140
      ],
      "id": "a8c478c0-7078-41d3-9ea7-5ef7803e6867",
      "name": "Code7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/getGraphDataBy_Id",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $json.body.data.parentGraph }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        2140
      ],
      "id": "bdbc5330-1b2b-4e9a-bb46-e34bc60193b5",
      "name": "Request GraphData5"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        1960
      ],
      "id": "5599ba2e-1d4c-4a9a-af73-1f6c4d446a24",
      "name": "Respond to Webhook16"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "GraphData",
        "updateKey": "_id",
        "fields": "history, definition",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        660,
        1960
      ],
      "id": "1ca5f8df-29c9-4d8f-9a51-2eb90fb89423",
      "name": "MongoDB9",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let graphData = $input.first().json;\nlet index = graphData.definition.events.findIndex((item) => item.eventId == $('HR-01A-action').first().json.body.data.parentId);\ngraphData.definition.events[index].status = \"done\";\nreturn graphData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        1960
      ],
      "id": "e85a6b71-bac5-4008-af7f-3c4068d1d51a",
      "name": "Code8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/getGraphDataBy_Id",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $json.body.data.parentGraph }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        1960
      ],
      "id": "778fe4bc-ab4c-4cb5-aa1c-978e1c3d8de5",
      "name": "Request GraphData6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        2480
      ],
      "id": "9e905239-f5cd-4b6b-9ef9-117baba49dbc",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "HR-01A-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        1960
      ],
      "id": "8669ca41-ae89-4463-b91e-97a303d1499d",
      "name": "HR-01A-action",
      "webhookId": "2b269259-e811-46c6-b8c7-ae4e22d48a08"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "GetEmployeeEditGraphData",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        2660
      ],
      "id": "6f9d173a-1b4f-4225-a431-320bc17c9e6b",
      "name": "GetEmployeeEditGraphData",
      "webhookId": "23fbe82e-5263-4e8b-be1c-8229231a4cea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/get-template",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $json.body.loader }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        2660
      ],
      "id": "01df380e-28fc-40aa-ac23-20bcb42f5c10",
      "name": "Clone graph template2"
    },
    {
      "parameters": {
        "collection": "Employee",
        "options": {},
        "query": "={\n  \"employeeCode\" : \"{{ $('GetEmployeeEditGraphData').item.json.body.data.employeeCode }}\"\n} "
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        380,
        2660
      ],
      "id": "295f332b-78aa-4227-80ce-5d50fb60051f",
      "name": "MongoDB2",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rs = {\n  parentId : $('Clone graph template2').first().json.definition.events[0].eventId,\n  data: {\n    parentId: $('Clone graph template2').first().json.definition.events[0].eventId,\n    id: new Date().toString(),\n    type:\"default\",\n    data:{formData:$input.first().json},\n    timestamp:new Date()\n  },\n  timestamp:new Date()\n}\n\nreturn rs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        2660
      ],
      "id": "2b9e2fcc-5582-4db4-9e87-b343ab02b01b",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        2660
      ],
      "id": "b077fbdb-3455-4015-ba9c-12ce1bd675e6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        2860
      ],
      "id": "21bd7caf-e6dc-46cc-9f1c-7ac69669ca9e",
      "name": "Respond to Webhook18"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "GraphData",
        "updateKey": "_id",
        "fields": "history, definition",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        380,
        2860
      ],
      "id": "bcf4e967-b28d-45c4-a0f5-84b01a7f9c84",
      "name": "MongoDB10",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let graphData = $input.first().json;\nlet index = graphData.definition.events.findIndex((item) => item.eventId == $('ER-10-action').first().json.body.data.parentId);\ngraphData.definition.events[index].status = \"done\";\nreturn graphData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        2860
      ],
      "id": "54ff1d79-5a67-40ba-8517-577a24e9c279",
      "name": "Code9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/getGraphDataBy_Id",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "graphId",
              "value": "={{ $json.body.data.parentGraph }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        2860
      ],
      "id": "3ddf2636-9c12-49ac-8202-0e2504cf2e3d",
      "name": "Request GraphData"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ER-10-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        2860
      ],
      "id": "576fb54c-2e76-4785-aa28-8820e0abce57",
      "name": "ER-10-action",
      "webhookId": "2b269259-e811-46c6-b8c7-ae4e22d48a08"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "Employee",
        "updateKey": "employeeCode",
        "fields": "timekeepingCode,fullName,gender,birthDate,militaryService,birthPlace,hometown,nationality,ethnicity,religion,maritalStatus,personalTaxCode,contractSignDate,workStartDate,manager,laborType,contractCode,contractType,department,position,jobTitle,rank,workingForm,workplace,effectiveFrom,effectiveTo,signDate,signer,signature,salaryStartDate,salary,salaryAmount,salaryNote,allowanceType,allowanceNote,socialInsuranceNumber,insuranceStatus,contributingEntity,healthInsuranceNumber,hospital,provinceCode,medicalFile",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        840,
        2860
      ],
      "id": "d45e72b8-110a-4821-9a91-24f121b4418f",
      "name": "MongoDB3",
      "credentials": {
        "mongoDb": {
          "id": "uZBJYKWIUnsdVQVp",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let EditData = $('ER-10-action').first().json.body.data.data\nreturn EditData"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        2860
      ],
      "id": "81fdfd5e-e2d6-4b45-8c1d-58a8ec413d78",
      "name": "Code3"
    }
  ],
  "pinData": {},
  "connections": {
    "On Create New Employee Process": {
      "main": [
        [
          {
            "node": "filter form data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit basic info data": {
      "main": [
        [
          {
            "node": "Get Flow Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit contract form data": {
      "main": [
        [
          {
            "node": "Filter basic info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Flow Template": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Contract info": {
      "main": [
        [
          {
            "node": "Submit contract form data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Save Graph to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Graph to DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit form": {
      "main": [
        [
          {
            "node": "Filter Contract info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter basic info": {
      "main": [
        [
          {
            "node": "Submit basic info data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter form data": {
      "main": [
        [
          {
            "node": "Submit form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-graph-edit-with-data": {
      "main": [
        [
          {
            "node": "Query graphData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query graphData": {
      "main": [
        [
          {
            "node": "No record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No record": {
      "main": [
        [
          {
            "node": "Clone graph template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set graphData1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone graph template": {
      "main": [
        [
          {
            "node": "set graphData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set graphData": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set graphData1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone graph template1": {
      "main": [
        [
          {
            "node": "set graphData2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set graphData2": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instance-graph": {
      "main": [
        [
          {
            "node": "Clone graph template1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB12": {
      "main": [
        [
          {
            "node": "Respond to Webhook22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoadEmployeeTable": {
      "main": [
        [
          {
            "node": "MongoDB12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB13": {
      "main": [
        [
          {
            "node": "Respond to Webhook23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoadEmployeeCreateProcess": {
      "main": [
        [
          {
            "node": "MongoDB13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetGraphDataBy_Id": {
      "main": [
        [
          {
            "node": "Get Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR-02-action": {
      "main": [
        [
          {
            "node": "Is Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approve": {
      "main": [
        [
          {
            "node": "Request GraphData4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request GraphData4": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "MongoDB6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB6": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Submission By Loader": {
      "main": [
        [
          {
            "node": "MongoDB7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB7": {
      "main": [
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get submission history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get submission history": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Filter basic info5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB5": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "MongoDB5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request GraphData3": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB4": {
      "main": [
        [
          {
            "node": "Respond to Webhook14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "MongoDB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request GraphData2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR-01D-action": {
      "main": [
        [
          {
            "node": "Request GraphData3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR-01C-action": {
      "main": [
        [
          {
            "node": "Request GraphData2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR-01B-action": {
      "main": [
        [
          {
            "node": "Request GraphData5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter basic info5": {
      "main": [
        [
          {
            "node": "save basic employee2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save basic employee2": {
      "main": [
        [
          {
            "node": "Respond to Webhook13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Graph": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB8": {
      "main": [
        [
          {
            "node": "Respond to Webhook15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "MongoDB8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request GraphData5": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB9": {
      "main": [
        [
          {
            "node": "Respond to Webhook16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "MongoDB9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request GraphData6": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR-01A-action": {
      "main": [
        [
          {
            "node": "Request GraphData6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone graph template2": {
      "main": [
        [
          {
            "node": "MongoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetEmployeeEditGraphData": {
      "main": [
        [
          {
            "node": "Clone graph template2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB10": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "MongoDB10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request GraphData": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ER-10-action": {
      "main": [
        [
          {
            "node": "Request GraphData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB3": {
      "main": [
        [
          {
            "node": "Respond to Webhook18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "MongoDB3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ac89757-530b-4653-8c27-da9f1bb0ec63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "60f558f2754ed85e2688a3bdaa286b8e7ee6e02ba567810884cfd3266c594ce4"
  },
  "id": "MnEdJpWMpxRRt4xh",
  "tags": []
}